.navbar {
  background-color: var(--navbar) !important;

  &__colorThemeIcons {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }
  .sun,
  .moon {
    cursor: pointer;
  }
  .sun {
    font-size: 1.85rem;
  }

  .moon {
    font-size: 1.75rem;
  }
}
